{% extends 'test1/CS.html' %}
{% load static %}

{% block content %}


<center>
<span>
<h1>Electronics And Eletrical Engineering</h1>

<center>
    <div class="col-md-7">
    <div class="col-md-7">
      <div class="service-box">

        <div class="service-ico">
        </div>
        <div class="service-content">
          <h2 class="s-title">S1</h2>
          <p class="s-description text-center">
            
          </p>
        </div>
      </div>
    </div>

</div></center>
  
<div class="col-md-7">
    <div class="col-md-7">
        <div class="service-box">

        <div class="service-ico">
        </div>
        <div class="service-content">
            <h2 class="s-title">S2</h2>
            <p class="s-description text-center">
            
            </p>
        </div>
        </div>
    </div>

    </div>
<div class="col-md-7">
    <div class="col-md-7">
        <div class="service-box">

        <div class="service-ico">
        </div>
        <div class="service-content">
            <h2 class="s-title">S3</h2>
            <p class="s-description text-center">
            
            </p>
        </div>
        </div>
    </div>
    </div>
<div class="col-md-7">
    <div class="col-md-7">
        <div class="service-box">

        <div class="service-ico">
        </div>
        <div class="service-content">
            <h2 class="s-title">S4</h2>
            <p class="s-description text-center">
            
            </p>
        </div>
        </div>
    </div>
    </div>
<div class="col-md-7">
    <div class="col-md-7">
        <div class="service-box">

        <div class="service-ico">
        </div>
        <div class="service-content">
            <h2 class="s-title">S5</h2>
            <p class="s-description text-center">
            
            </p>
        </div>
        </div>
    </div>
</div>

</center>
</span>
</div>
{% endblock %}
